<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.solvd.persistence.dao.GenreDAO">

    <resultMap id="genreResultMap" type="com.solvd.model.Genre">
        <id column="GenreId" property="genreId"/>
        <result column="GenreName" property="genreName"/>
    </resultMap>

    <select id="getGenreById" resultMap="genreResultMap">
        SELECT * FROM Genres WHERE GenreId = #{genreId}
    </select>

    <select id="getAllGenres" resultMap="genreResultMap">
        SELECT * FROM Genres
    </select>

    <insert id="addGenre" parameterType="com.solvd.model.Genre" useGeneratedKeys="true" keyProperty="genreId">
        INSERT INTO Genres (GenreName)
        VALUES (#{genreName})
    </insert>

    <update id="updateGenre">
        UPDATE Genres SET
        GenreName = #{genreName}
        WHERE GenreId = #{genreId}
    </update>

    <delete id="deleteGenre">
        DELETE FROM Genres WHERE GenreId = #{genreId}
    </delete>

</mapper>
