<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <typeAlias type="model.Artists" alias="Artist"/>

    </typeAliases>

    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.cj.jdbc.Driver"/>
                <property name="url" value="jdbc:mysql://127.0.0.1:3306/mydb"/>
                <property name="username" value="root"/>
                <property name="password" value="admin"/>
            </dataSource>
        </environment>
    </environments>
    <mappers>

        <mapper resource="mappers/ArtistMapper.xml"/>
        <mapper resource="mappers/CustomerMapper.xml"/>
        <mapper resource="mappers/EventMapper.xml"/>
        <mapper resource="mappers/GenreMapper.xml"/>
        <mapper resource="mappers/OrderMapper.xml"/>
        <mapper resource="mappers/OrderItemMapper.xml"/>
        <mapper resource="mappers/PaymentsMethodMapper.xml"/>
        <mapper resource="mappers/RoleMapper.xml"/>
        <mapper resource="mappers/StaffMapper.xml"/>
        <mapper resource="mappers/StaffRoleMapper.xml"/>
        <mapper resource="mappers/TicketMapper.xml"/>
        <mapper resource="mappers/TicketstypeMapper.xml"/>
        <mapper resource="mappers/VenueMapper.xml"/>


    </mappers>
</configuration>
