<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.solvd.persistence.dao.RoleDAO">

    <resultMap id="roleResultMap" type="com.solvd.model.Role">
        <id column="RoleId" property="roleId"/>
        <result column="RoleName" property="roleName"/>
        <result column="Description" property="description"/>
    </resultMap>

    <select id="getRoleById" resultMap="roleResultMap">
        SELECT * FROM Roles WHERE RoleId = #{roleId}
    </select>

    <select id="getAllRoles" resultMap="roleResultMap">
        SELECT * FROM Roles
    </select>

    <insert id="addRole" parameterType="com.solvd.model.Role" useGeneratedKeys="true" keyProperty="roleId">
        INSERT INTO Roles (RoleName)
        VALUES (#{roleName})
    </insert>

    <update id="updateRole">
        UPDATE Roles SET
        RoleName = #{roleName}
        WHERE RoleId = #{roleId}
    </update>

    <delete id="deleteRole">
        DELETE FROM Roles WHERE RoleId = #{roleId}
    </delete>

</mapper>
